
#bg {
	background: black url('images/chel.png') no-repeat right;
	background-attachment: scroll;
	background-size: 35%;
}

#outterbox {
	width: min-content;
border: 1px white solid;
padding-left:10px;
padding-right: 10px;
}
p{
	color: white;
	width: 600px;
	text-align: justify;
}

#image1{
	float: left;
padding: 20px;
}
#image2{
	float: right;
padding: 20px;
}


a {
display: block;
background-color: #484848;
width:100px;
padding: 0px 5px;
border: 1px #484848 solid;
font-size: 12px;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
}
a:hover {
	text-decoration: none;
	color: black;
	background-color: white;
}
a:active {
	color: black;
	background-color: white;
}

.clearfix {
	clear: both;
}